@page "/Login"
@using BlazorServerSignalApp.Data
@using BlazorServerSignalApp.Service
@inject BlazorServerSignalApp.IService.IUserService userService


<h3>Login</h3>
<p>This is a mock user system, please don't put private information in here.</p>
<br />

@if (userService.WasSuccessful == true)
{
    <p>You are logged in as: @userService.CurrentUser.Username</p>
}
else
{
    <p style="color: red">You are not logged in.</p>
    <form @onsubmit="UserLogin">
        <label for="name">Name:</label>
        <input type="text" id="name" @bind="username" required>

        <label for="password">Password:</label>
        <input type="text" id="password" @bind="userPassword" required>

        <button type="submit">Submit</button>
    </form>
}


@code {
    User user = new User(); 

    public string? userPassword;
    public string? username;
    



    private void UserLogin()
    {
        user = userService.Login(username, userPassword);
    }

}
