@page "/logout"
@inject NavigationManager navigationManager
@inject BlazorServerSignalApp.IService.IUserService userService

<title>Logout</title>
<h3>Logout</h3>

<p style="color: red">Are you sure you want to log out?!?</p>
<button @onclick="UserLogout">Logout</button>


@code {

    public void UserLogout()
    {
        userService.Logout();
        navigationManager.NavigateTo("/");
    }
}
